h1 {
    color: #2669d6;
    font-size: 1.5em;
    vertical-align: middle;
    line-height: 80px;
}

header {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}
