h1 {
    color: #2669d6;
    font-size: 1.5em;
    line-height: 20px;
    horizontal-align: left;
}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

header.title {
    order: 0;
}
