h1 {
    color: #2669d6;
    font-size: 1.5em;
    vertical-align: middle;
    line-height: 80px;
}

header {
    background-color: #e2ded0;
    width:100%;
    height:80px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}
