.wrapper {
    display: grid;
//    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
//    grid-auto-rows: 100px;
    grid-template-areas:
    ". a .";
}
 
form {
    grid-area: a;
    align-self: center;
    justify-self: center;
}
